# Latex & Biber
**.pdf
**.aux
**.bbl
**.xml
**.log
**.out
**.nav
**.toc
**.bcf
**.blg
**.snm

# R
**.RData
**.Rhistory

# NPM
package-lock.json
**/node_modules/

# Secrets
**.pem
**.key

# Build
**.o
**.gch
**.d
**.so
#orset
test

# Repository
archive/
archive2/
**/dist/

# pkg
**.pkg.tar.xz
**.pkg.tar.xz.sig
pkg/**/pkg/**
pkg/**/src/**

