<html>
    <head>
        <title>${NAME} - Title Wiki</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <style>
            * {
                box-sizing: border-box;
            }
            body {
                margin: 0 0;
            }
            div {
                margin: 0 auto;
            }
            pre {
                background: aliceblue;
                white-space: pre-wrap;
            }
        </style>
    </head>
    <body style="background: aliceblue;">
        <p style="text-align: center;"> INSERT TITLE HERE ${NAME} </p>

        <div style="width: 93vw; max-width: 1200px; background: aliceblue;
                    padding: 0px 0px; display: flex;
                    flex-direction: row-reverse;">
            <div style="background: white; margin: 0 10px; padding: 10px 10px;
                        border-top: 1px solid #bdbdbd;
                        border-right: 1px solid #bdbdbd;
                        border-left: 1px solid #bdbdbd;

                ">
                <a href="edit.html">Edit</a>
            </div>

            <div style="background: white; margin: 0 10px; padding: 10px 10px;
                        border-top: 1px solid #bdbdbd;
                        border-right: 1px solid #bdbdbd;
                        border-left: 1px solid #bdbdbd;
                        ">
                <a href="talk.html">Talk</a>
            </div>

            <div style="background: white; margin: 0 10px; padding: 10px 10px;
                        border-top: 1px solid #bdbdbd;
                        border-right: 1px solid #bdbdbd;
                        border-left: 1px solid #bdbdbd;
                        ">
                <a href="index.html">Page</a>
            </div>

        </div>
        <div style="width: 93vw; max-width: 1200px; background: white;
                    padding: 10px 30px;
                    border: 1px solid #bdbdbd;
                    margin-top: -1px;">

            <form method="POST"
                  action="http://localhost:8888/${NAME}/index.md?next=https%3A%2F%2Fduckduckgo.com%2F${NAME}">
                <textarea name="markdown" rows="20" style="width:
                                100%;">${INDEX_SRC}
</textarea>
            <input type="submit">
        </div>
    </body>
</html>
